@use '../../assets/mixins' as *;
@use '../../assets/vars' as *;

.dish {
    max-width: 200px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
    &__img {
        width: 200px;
        max-height: 216px;
        padding: 26px 5px 0 5px;
        @include flex-hybrid(center, unset);
    }
}

.heart__img {
    position: relative;
    bottom: 200px;
    left: 160px;
}

.dishCard {
    &__content {
        padding: 7px 19px 21px 16px;
    }
    &__highlight {
        max-width: 60px;
        border-radius: 4px;
        p { 
            @include flex-hybrid(center, unset);
            font-size: 11px;
            padding: 3px 0;
        }
    }
    &__highlight[data-status='green'] {
        background-color: rgb(173, 235, 198);
        color: rgba(48, 157, 91, 1);
    }
    
    &__highlight[data-status='yellow'] {
        background-color: rgba(247, 237, 208, 1);
        color: rgba(218, 163, 26, 1);
    }
    
    &__highlight[data-status='red'] {
        background-color: rgba(247, 197, 186, 1);
        color: rgba(251, 71, 29, 1);
    }
    &__title {
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
    }

    &__info {
        @include flex-hybrid(space-between, center);
        max-width: 90px; 
        font-size: 12px;
        line-height: 16px;
    }
    &__cost {
        @include flex-hybrid(space-between, center);
        button {
            padding: 5px 10px;
            border-radius: 6px;
            background-color: var(--textColor);
            color:var(--textWhite);
        }
    }
    &__integer {
        font-size: 18px;
        color: rgba(50, 49, 66, 1);
    }
    
    &__fraction {
        font-size: 14px;
        color: rgba(142, 151, 166, 1);
    }

}



