@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-hybrid ($horizontal, $vertical) {
    display: flex;
    justify-content: $horizontal;
    align-items: $vertical;
}