:root {
    --textColor:rgba(0, 0, 0, 1);
    --textColorHeader: rgba(96, 96, 96, 1);
    --accent:rgba(108, 95, 188, 1);
    --textColorBody:rgba(103, 103, 103, 1);
    --textWhite: rgba(255, 255, 255, 1);
    --textGray: rgba(203, 213, 225, 1);
    --cardBackColor: rgba(244, 244, 246, 1);
    --grayFooter: rgba(234, 234, 234, 1);
  }
  