.controlPurchase {
    padding: 70px 0 93px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.purchase__header h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    max-width: 390px;
    padding-bottom: 34px;
}


.purchase_illustration__card {
    width: 380px;
    border-radius: 17px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
}

.limit__selector {
    display: flex;
    align-items: center;
    background-color: rgba(250, 250, 250, 1);
    padding: 9px 13px;
    border-radius: 9px;
}

.purchase_illustration__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.purchase_illust__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;   
    max-width: 326px; 
}

.purchase_illust__header h1 {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    size: 20px;
    line-height: 135%;
}

.card__item {
    max-width: 326px;
    border-radius: 13px;
    border: solid 1px rgba(237, 242, 247, 1);
    padding: 17px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 290px;
}

.card__name {
    display: flex;
    gap: 13px;
}

.card__content h1 {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    size: 16px;
    line-height: 150%;
}

.card__text h1 {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    size: 13px;
    line-height: 150%;
}

.line__one {
    width: 290px;
    height: 7px;
    border-radius: 56px;
    background: linear-gradient(to right, var(--accent) 70%, rgb(172, 164, 224) 30%);
}


.line__two {
    width: 290px;
    height: 7px;
    border-radius: 56px;
    background: linear-gradient(to right, rgba(251, 173, 24, 1) 55%, rgb(255, 218, 151) 45%);
}
