.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
   
}

.feature h1 {
    font-family: 'Public Sans', sans-serif;
    color: var(--textWhite);
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
}

.feature p {
    color: var(--textGray);
    font-weight: 500px;
    font-size: 14px;
    line-height: 22px;
    max-width: 210px;
    white-space: pre-wrap;
    
}