.review__content {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.review__title {
    display: flex;
    justify-content: center;
    gap: 0.5ch;
    font-size: 32px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0px;
    padding: 70px 0 55px;
}

/* .swiper__slide {
    display: flex;
    justify-content: space-between;
}


.swiper_scrollbar {
    background: rgb(142, 135, 184);
    height: 8px; 
  }
  
  .swiper_scrollbar-drag {
    background: var(--accent);
    border-radius: 4px;
  } */
.sliderWrapper {
    /* Вашы налады для размяшчэння слайдара на старонцы */
    width: 100%;
}

/* Выкарыстоўваем :global, каб React не мяняў імя класа */
:global(.custom-scrollbar) {
    background: rgb(142, 135, 184) !important;
    height: 8px !important;
    position: relative; /* Важна для адлюстравання */
    margin-top: 20px;
    border-radius: 4px;
}

:global(.swiper-scrollbar-drag) {
    background: var(--accent) !important;
    border-radius: 4px;
}
