@use '../../assets/vars' as *;
@use '../../assets/mixins' as *;

.header {
    padding: 48px 0 24px;  
    &__nav {
        @include flex-hybrid(space-between, center);
        flex-direction: row;
        padding: 24px;

        nav ul {
            display: flex;
            flex-direction: row;
            gap: 50px;

            li {
                @include link-hover-effect;
              }
        }
    }
    &__btn {
        display: flex;
        gap: 50px;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;

        .login__btn {
            color: var(--textColorHeader);
            padding: 15px 25px;
            border-radius: 12px;
            @include btn-hover-effect;
        }
        
        .signUp__btn {
            background-color: var(--accent);
            color: var(--textWhite);
            padding: 15px 25px;
            border-radius: 12px;
            @include btn-hover-effect;
            
        }
    }
    &__left {
        display: flex;
        gap: 160px;     
    }
}

.logo {
    position: relative;
    @include flex-hybrid(unset, center);
    span {
        position: absolute;
        left: 60px;
        color: var(--accent);
        font-weight: 600;
        font-size: 21px;
    }
}


